.section_wrap {
    display: flex;
}

/* 테두리 */
 /* .border1{
    position: absolute;
    top: 1vh;
    width: 100%;
    height: 98vh;
    border: 1px solid red;
    z-index: 10;
}

.border2{
    position: absolute;
    width: 100%;
    top: 2.5vh;
    height: 95vh;
    border: 1px solid blue;
    z-index: 10;
}   */


/* #section1 */
#section1{
    width: 150vh; height: 100vh;
    position: relative;
    /* background: rgb(255, 227, 227); */
}

.sec1{
    width: 57vh;
    height: 70vh;
}

.sec1 img{
    width: 50vh;
    height: 70vh;
}


.sec1 .circle{
    position: absolute;
    top: 54vh;
    left: 36vh;
    width: 28vh;
    height: 28vh;
    color: #fff;
    text-align: center;
    font-size: 3.5vh;
    line-height: 28vh;
    border-radius: 50%;
    background: #1E1E1E;
    text-transform: uppercase;
    font-family: 'Jura', sans-serif;
}

.sec1_txt {
    display: inline-block;
    position: absolute;
    width: 48vh;
    margin-top: 20px;
    left: 85vh;
    font-size: 2.1vh;
    line-height: 151%;
    font-family: 'IropkeBatang';

}

.sec1_txt em{
    float: right;
    margin-top: 20px;
    opacity: .6;
}



/* #section2 */
#section2{
    width: 250vh; 
    height: 100vh;
    /* background: rgb(235, 241, 201); */
    position: relative;
}


.logo_title{
    position: absolute;
    margin-left: 10vh;
    top: -1.2vh;
    font-size: 42.5vh;
    line-height: 0.8;
    letter-spacing: -2vh;
    text-transform: uppercase;
    font-family: 'Cormorant Garamond', serif;
    z-index: 10;
}


/* #section3 */
#section3{
    position: relative;
    display: flex;
    width: 300vh;
    height: 100vh;
}

#section3 img{
    display: block;
    width: 80vh;
    height: auto;
    vertical-align: top;
}


.section3_cont{
    position: relative;
    margin-left: 10vh;
}

 .about{
    display: inline-block;
    width: 144vh;
    margin-top: 20px;
    font-size: 4.6vh;
    line-height: 150%;
    word-break: keep-all;
    font-family: 'ChosunNm';
}

 .about_bottom{
    position: absolute;
    display: flex;
    bottom: 2vh;
}

.about_bottom_txt{
    width: 50vh;
    opacity: .6;
    font-size: 1.8vh;
    margin-right: 5vh;
    margin-bottom: 20px;
    display: inline-block;
    font-family: 'NexonLv1Gothic';

}


/* #section4 */
#section4{
    display: flex;
    position: relative;
    height: 100vh;
    /* background: rgb(239, 255, 181); */
}

.site{
    position: relative;
    display: flex;
    width: 250vh;
    height: 100vh;
}

.site:first-child{
    margin-left: 10vh;
}

.title{
    position: relative;
    margin-bottom: 42vh;
    font-size: 27.2vh;
    line-height: 20vh;
    letter-spacing: -1vh;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    white-space: nowrap;
    font-family: 'Cormorant Garamond', serif;
}

.title::before{
    position: absolute;
    top: -22.5vh;
    left: -10vh;
    display: inline-block;
    text-align: center;
    height: 0.1vh;
    transform: rotate(90deg);
    content: "";
    background-color: #000;
    width: 170%;
}

.site_img{
    position: relative;
}

.main_img{
    display: inline-block;
    width: auto;
    height: 100vh;
    margin-left: 20vh;
    vertical-align: top;
}

.sub_img{
    position: absolute;
    top: 50%;
    left: 85%;
    width: auto;
    height: 30vh;
}

.site_cir{
    position: absolute;
    top: 70%;
    left: 127%;
    width: 18vh;
    height: 18vh;
    color: #fff;
    background: #000;
    border-radius: 50%;
    text-align: center;
    font-size: 3.5vh;
    line-height: 18vh;
    text-transform: uppercase;
    font-family: 'Jura', sans-serif;
}

.site_cont{
    position: absolute;
    display: inline-block;
    top: 12vh;
    left: 140vh;
    width: 74vh;
}

.site_cont .site_subtit{
    font-size: 5.3vh;
    font-weight: bold;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: 'Jura', sans-serif;
}

.site_cont .site_desc{
    display: inline-block;
    font-size: 2vh;
    line-height: 150%;
    margin: 1vh 0 2vh 0;
    word-break: keep-all;
    font-family: 'IropkeBatang';
}

.btn{
    width: 19vh;
    height: 5vh;
    font-size: 2.5vh;
    color: #fff;
    background: #000;
    line-height: 5vh;
    text-align: center;
    border-radius: 100px;
    text-transform: uppercase;
    font-family: 'Jura', sans-serif;
}


/* #section5 */
#section5{
    display: flex;
    width: 700vh;
    height: 100vh;
    background: #1e1e1e;
}

#section5 .site{
    width: 230vh;
    margin-left: 0;
    /* background: #ccc; */
}

#section5 .title{
    color: #fff;
  
}

#section5 .title:first-child{
    margin-left: 10vh;
}

#section5 .title::before{
    background-color: #fff;
}



.script_cont{
    margin-left: 20vh;
    position: relative;
    /* border: 3px solid salmon; */
    box-sizing: border-box;
}

#section5 .site_cir{
    position: absolute;
    top: 6vh;
    left: 121vh;
    width: 26vh;
    height: 26vh;
    color: #000;
    font-size: 4vh;
    line-height: 26vh;
    background: #fff;
}

.script_img1{
    width: auto;
    height: 55vh;
    margin-top: 15vh;
}

.script_img2{
    width: auto;
    height: 31vh;
    position: absolute;
    left: 94vh;
    top: 56vh;
}

.script_tit{
    width: 100%;
    display: inline-block;
    color: #fff;
    font-size: 5vh;
    margin-top: 3vh;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Jura', sans-serif;
}


.script_desc{
    display: inline-block;
    /* width: 41.5vh; */
    width: 54vh;
    color: #fff;
    margin-top: 1vh;
    line-height: 1.5;
    font-size: 1.6vh;
    /* word-break: keep-all; */
    font-family: 'IropkeBatang';
}


.script_cont .btn{
    background: #fff;
    color: #000;
}



/* #section6 */
#section6{
    display: flex;
    position: relative;
    width: 750vh;
    height: 100vh;
    background: #CECECE;
    /* background: #999; */
}

#section6 .title {
    margin-right: 20vh;
}

.front_img1{
    width: auto;
    height: 50vh;
    margin-top: 30vh;
}

.front_img2{
    position: absolute;
    width: auto;
    height: 40vh;
    top: 9vh;
    left: 100vh;
}

#section6 .site_cir{
    position: absolute;
    top: 18vh;
    left: 118vh;
}

.front_cont{
    position: absolute;
    /* display: inline-block; */
    left: 140vh;
    top: 45vh;
    /* background: red; */
}

.front_tit{
    width: 100%;
    display: inline-block;
    color: #000;
    font-size: 5vh;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Jura', sans-serif;
}


.front_desc{
    display: inline-block;
    width: 70vh;
    color: #000;
    font-size: 2vh;
    word-break: keep-all;
    margin: 1vh 0 1.5vh 0;
    font-family: 'IropkeBatang';
}

#section7{
    width: 160vh; 
    height: 100vh;
    position: relative;
    background: #1e1e1e;
}

#section7 .logo_title{
    /* margin-left: 20vh;
    margin-top: 2vh;
    font-size: 31.5vh;
    line-height: .8; */
    color: #fff;
    white-space: nowrap;
}

 #section7 .logo_title .logo_tit1{
    margin-left: 30vh;
}


/* section8 */
#section8{
    display: flex;
    width: 300vh; 
    height: 100vh;
    position: relative;
    background: #1e1e1e;
}

#section8 > img{
    position: relative;
    width: 80vh;
    height: auto;
    vertical-align: top;
}
 

#section8 .about{
    display: flex;
    color: #fff;
}

#section8 .about_text{
    display: flex;
    flex-direction: column;
}

#section8 .about_bottom{
    color: #fff;
    font-family: 'IropkeBatang';

}

#section8  .about_bottom_tit{
    font-size: 3.5vh;
    margin-bottom: 1vh;
}

#section8  .about_bottom_txt{
    width: 35vh;
    font-family: 'IropkeBatang';
}

#section8 .email{
    display: inline-block;
    width: 32vh;
    height: 7vh;
    margin-top: 3vh;
    font-size: 3vh;
    line-height: 2;
    color: #bfff07;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #bfff07;
    transition: all .3s ease-in;
    font-family: 'Cormorant Garamond', serif;
}

#section8 .email:hover{
   background: #bfff07;
   color: #1E1E1E;
}

#section8 .home {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50vh;
    height: 70vh;
}


#section8 .circle_port{
    position: absolute;
    bottom: 54vh;
    right: 36vh;   
    width: 28vh;
    height: 28vh;
    color: #1e1e1e;
    text-align: center;
    font-size: 3.5vh;
    line-height: 28vh;
    border-radius: 50%;
    background: #fff;
    text-transform: uppercase;
    font-family: 'Jura', sans-serif;
}



/* 미디어쿼리  */
/* @media (max-width:800px){
    .section_wrap {
        display: block;
    }

    #section1{
        width: 100%;
        height: 45vw;
    }

    .sec1 img {
        width: 23vw;
        height: 32vw;
    }

    .sec1 .circle{
        width: 13vw;
        height: 13vw;
        top: 24vw;
        left: 17vw;
        font-size: 1.5vw;
        line-height: 13vw;
    }

    .sec1_txt{
        width: 38vw;
        left: 50vw;
        font-size: 1.7vw;
    }

    #section2{
        width: 100%;
        height: 55vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo_title {
        top: 0;
        margin-left: 0;
        margin-top: 5vw;
        font-size: 18vw;
        text-align: center;
    }

    #section3{
        width: 100%;
        height: 60vw;
        align-items: center;
    }

    .section3_cont {
        margin-left: 0;
    }

    #section3 img{
        margin: 5vw;
        width: 40vw;
    }

    .about {
        width: 45vw;
        margin-top: 0;
        font-size: 2.2vw;
        word-break: break-all;
    }

    .about_bottom {
       display: none;
    }

    #section4 {
        width: 100%;
        height: 200vw;
        flex-direction: column;
    }

    .site {
        width: 100%;
        height: 55vw;
        margin-top: 10vw;
        margin-left: 0;
    }

    .site:first-child{
        margin-left: 0;
    }

     .title {
        font-size: 4.5vw;
        margin-bottom: 0;
        letter-spacing: 0;
        line-height: 10vw;
        text-align: right;
        display: inline-block;
     }

    .main_img {
        height: 50vw;
        margin-left: 0;
        
    }

    .sub_img {
        display: none;
    }

    #section4 .site_cir {
        top: 31vw;
        left: 25vw;
        width: 16vw;
        height: 16vw;
        font-size: 3vw;
        line-height: 16vw;
    }

    .site_cont {
        top: 0;
        left: 40vw;
        width: 45vw;
    }

    .site_cont .site_subtit{
        font-size: 4vw;
    }

    .site_cont .site_desc {
        position: relative;
        font-size: 1.8vw;
        margin: 1vw 0 2vw;
        word-break: break-word;
    }

    .btn{
        position: absolute;
        right: 0;
        width: 9vw;
        height: 3vw;
        line-height: 3vw;
        font-size: 1.5vw;
    }

    #section5 {
        width: 100%;
        height: 200vw;
        display: inline-block;
    }

    #section5 .site{
        width: 100%;
        margin-top: 10vw;
    }

    #section5 .title{
        font-size: 4.5vw;
        display: inline-block;
    }

    #section5 .title:first-child {
       margin-left: 0;
    }

    .script_cont {
        margin-left: 0;
    }

    .script_img1 {
        width: 70vw;
        height: auto;
        margin-top: 0;
    }

    #section5 .site_cir {
        top: 5vw;
        left: 63vw;
        width: 16vw;
        height: 16vw;
        font-size: 3vw;
        line-height: 15vw;
    }

    .script_img2 {
        display: none;
    }

    .script_tit{
        font-size: 4vw;
        margin-top: 3vw;
    }

    .script_desc {
    width: 60vw;
    margin-top: 1vw;
    font-size: 1.7vw;
    }

    #section6 {
        width: 100%;
        height: 130vw;
        flex-direction: column;
    }

    #section6 .title {
        margin-right: 0;
    }

    .front_img1 {
       margin-top: 0;
    }

    .front_img2 {
        display: none;
    }

    #section6 .site_cir {
        top: 40vh;
        left: 88vh;
    }

    .front_cont {
        top: 0;
        left: 56vw;
    }

    .front_tit{
        font-size: 4vw;
    }

    .front_desc{
        font-size: 1.5vw;
        word-break: break-all;
    }

    

    #section7{
        width: 100%;
        height: 55vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    #section7 .logo_title{
        top: 0;
        margin-left: 0;
        margin-top: 5vw;
        font-size: 18vw;
        text-align: center;
    }

    #section7 .logo_title .logo_tit1{
        margin-left: 0;
    }


    #section8{
        width: 100%;
    }

    #section8 .circle_port{
        display: none;
    }

    #section8 .home{
        display: none;
    }




} */










